* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
input,
textarea,
button {
    font: inherit;
} /* Kế thừa font chữ mặc định */

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Variable */
:root {
    --header-color: #fffcf4;
    --font-heading: "Sen", sans-serif;
    --text-color: #5f5b53;
    --primary-color: #ffb900;
    --nav-hover: 30px;
    --text-hover: #cc333f;
}
/* Common */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.15;
}
.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
/* Button */
.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    border: none;
    border-radius: 999px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
    color: var(--text-hover);
    transition: 0.5s, -webkit-mask-size 0.5s 0.5s;
}

/* header */
.header {
    background-color: var(--header-color);
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 99;
}
.header .header-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 8px 21px;
    /* background-color: red; */
}
.nav a::after {
    content: "";
    position: absolute;
    top: var(--nav-hover);
    left: 21px;
    height: 8px;
    width: 75%;
    transform: scaleX(0);
    border-top: 3px solid mediumaquamarine;
    transform-origin: left;
}
.nav li:hover a::after {
    color: #000;
    font-weight: 600;
    transition: 0.4s;
    transform: scale(1);
}
.nav li.active a {
    font-weight: 600;
}
.nav li.active a::before {
    position: absolute;
    content: "";
    top: var(--nav-hover);
    left: 21px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: var(--header-color);
}
.hero .media-block {
    width: 48%;
    position: relative;
}
.hero .body {
    display: flex;
}
.hero .media-block .header-img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 15px;
}
.img-content {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    /* box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05); */
    border: 5px solid;
    animation: border-flashing 10s infinite;
}

@keyframes border-flashing {
    0% {
        border-color: red;
    }
    25% {
        border-color: purple;
    }
    50% {
        border-color: yellow;
    }
    75% {
        border-color: green;
    }
    100% {
        border-color: red;
    }
}

.img-content .item {
    display: flex;
    align-items: center;
}
.img-content .item:hover {
    cursor: pointer;
}
.img-content .title:hover {
    color: var(--text-hover);
}
.img-content .item:nth-of-type(1) .icon {
    background-color: #fff9e8;
}
.img-content .item + .item {
    margin-top: 22px;
}
.img-content .icon {
    width: 48px;
    height: 48px;
    background-color: #ebeaff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.img-content .label {
    color: var(--text-color);
    font-size: 1.4rem;
}
.img-content .title {
    color: #080;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}
/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67;
}
.click-btn {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
    margin-right: 28px;
}
.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.hero .watch-video {
    display: flex;
    border: none;
    align-items: center;
    background-color: var(--header-color);
    cursor: pointer;
}
.hero .watch-video:hover > .icon {
    /* color: red; */
    background: var(--text-color);
    /* width: 200%; */
}
.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}
.hero .watch-video span {
    margin-left: 14px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero .stats {
    margin: 8px 0 0 -28px;
}
.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.25; /* 122.727% */
}
/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 460px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.6; /* 166.667% */
}
.popular-top .controls {
    display: flex;
    gap: 18px;
    width: 98px;
    height: 40px;
    flex-shrink: 0;
}
.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}
.popular-top .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary-color);
}
/* Course */
.course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.course-list .course-item {
    width: 33.33%;
    /* width: 370px; */
    /* height: 466px; */
    flex-shrink: 0;
    border-radius: 12px;
    background: #fff;
    border: 1px solid var(--text-color);
}
.course-list .course-item:hover {
    /* border: var(--text-color) 1px solid; */
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.075);
}
.course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px 0 0 -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .foot,
.course-item .rating,
.course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-item .title a {
    padding-right: 8px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
}
.course-item .head .value {
    padding-left: 8px;
}
.course-item .desc {
    margin-top: 6px;
    width: 326px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.8; /* 185.714% */
}
.course-item .foot {
    margin-top: 12px;
}
.course-item .foot .price {
    color: var(--text-hover);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
}
.course-item .foot .btn:hover {
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    background: #2e2100;
    padding: 96px 0;
}
.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback .info {
    width: 30%;
}
.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    animation: slide ease 16s infinite;
}
/*Animation activated by keyframes*/
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.feedback-list .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-list .title {
    margin-top: 16px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4; /* 141.667% */
}
.feedback-list .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.8; /* 185.714% */
}
.feedback-list .dots {
    display: flex;
    margin-top: 28px;
}
.blog .dot,
.feedback-list .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.blog .dot.active,
.feedback-list .dot.active {
    background: #ffb900;
    cursor: default;
}
.feedback-list .content {
    width: 70%;
}
.feedback-list blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.5; /* 153.846% */
}

/* features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}
.features .body {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.features .images {
    display: flex;
    gap: 0 30px;
}
.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images img:nth-child(1) {
    margin-top: 34px;
}
.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.features .desc {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.features .content .btn {
    min-width: 137px;
    margin-top: 32px;
}
.feature2 {
    margin-top: 70px;
}
.feature2 .body {
    flex-direction: row-reverse;
}
.feature2 .content {
    width: 49%;
}
.feature2 .images img {
    width: 470px;
    height: 440px;
}
/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}
.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.blog .blog-list {
    margin-top: 39px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.blog .item {
    width: calc(33.33% - 20px);
    flex-shrink: 0; /* khi có nhiều phần tử trên 1 hàng thì ko bị phá vỡ tỷ lệ (VD: hiển thị 3Item thay vì 9item trên cùng 1 hàng*/
    border-radius: 16px;
    background: #fff;
    /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
}
.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog .item .info {
    padding: 20px 20px 28px;
}
.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
}
.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background: var(--primary-color);
}
.blog .item .date::after {
    content: "";
    position: absolute;
    left: 0;
    right: -30px;
    bottom: 0;
    display: inline-block;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}
.blog .item .title a {
    display: inline-block;
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-bottom: 12px;
}
.blog .item .btn {
    font-size: 1.4rem;
}
.blog .item .btn:hover {
    background: var(--primary-color);
}
.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}
.blog .dot {
    background: var(--text-color);
}

/* footer */
.footer {
    /* margin-top: 44px; */
    background: #2e2100;
    padding: 96px 135px 0;
}
.footer .main-content {
}
.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.5%;
}
.footer .row .column:nth-child(1) {
    width: 35%;
}
.footer .desc {
    margin: 18px 0;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 26px; /* 185.714% */
}
.footer .social {
    display: flex;
    gap: 18px;
}
.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px; /* 175% */
    border-bottom: 1px solid #59554b;
}
.footer .list {
    margin-top: 28px;
}
.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 26px; /* 185.714% */
}
.footer .list li:last-child a {
    margin-bottom: 0;
}
.footer .list strong {
    color: #fff;
    font-weight: 600;
}
.footer .copyright {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 26px; /* 185.714% */
}
